<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tatterdemalione.maxapp">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Database"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".CoachRegisterActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".PlayerRegisterActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".CoachMain"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".PlayerMain"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".NotificationsView"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".NotificationsMenu"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ProfileMain"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".LevelsMain"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".PreVideo"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Video"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Back"
            android:label="@string/app_name">
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
